<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:f="http://xmlns.jcp.org/jsf/core">
<!--    <h:outputStylesheet library="css" name="style.css"/>-->
    <header class="content-block">
        <h2>Ненов Владислав</h2>
        <h3 class="colored-text">Группа 32082, Вариант 9681</h3>
    </header>
</ui:composition>
