<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <div class="content-block bordered">
        <h:dataTable id="result-table" border="2" value="#{resultsControllerBean.history}" var="entry">
            <h:column >
                <f:facet name="header">Время старта</f:facet>
                <h:outputText value="${entry.processedAtFormatted}"/>
            </h:column>
            <h:column >
                <f:facet name="header">Время выполнения (мc)</f:facet>
                <h:outputText value="${entry.workTime}"/>
            </h:column>
            <h:column >
                <f:facet name="header">Координата X</f:facet>
                <h:outputText value="${entry.x}"/>
            </h:column>
            <h:column >
                <f:facet name="header">Координата Y</f:facet>
                <h:outputText value="${entry.y}"/>
            </h:column>
            <h:column >
                <f:facet name="header">Значение R</f:facet>
                <h:outputText value="${entry.r}"/>
            </h:column>
            <h:column >
                <f:facet name="header">Попадание</f:facet>
                <h:outputText value="${entry.hitFormatted}"/>
            </h:column>
        </h:dataTable>
    </div>

</ui:composition>
