<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Лабораторная работа 3</title>
<!--    <h:outputStylesheet library="css" name="style.css"/>-->
    <link href="./resources/css/style.css" type="text/css" rel="stylesheet"/>
</h:head>

<h:body class="dark-body">
    <ui:include src="components/header.xhtml"/>
    <ui:include src="components/form.xhtml"/>
    <ui:include src="components/table.xhtml"/>
    <div class="content-block">
        <h:link styleClass="colored-text" outcome="back-to-start">
            На стартовую страницу
        </h:link>
    </div>
    <h:outputScript library = "js" name = "field_handler.js" />
    <h:outputScript library = "js" name = "draw.js" />
</h:body>
</html>
